@scope (#doc-editor) {
    :scope {
        --paper-padding: 24px;
        
        color: var(--text-color-default);
    }
    
    * {
        outline: none;
    }
    
    /* Headings */
    h1 {
        color: var(--text-color-heading-1, currentColor);
        margin: var(--spacing-heading-1) 0;
    }

    h2 {
        color: var(--text-color-heading-2, currentColor);
        margin: var(--spacing-heading-2) 0;
    }

    h3 {
        color: var(--text-color-heading-3, currentColor);
        margin: var(--spacing-heading-3) 0;
    }

    h4 {
        color: var(--text-color-heading-4, currentColor);
        margin: var(--spacing-heading-4) 0;
    }

    h5 {
        color: var(--text-color-heading-5, currentColor);
        margin: var(--spacing-heading-5) 0;
    }

    h6 {
        color: var(--text-color-heading-6, currentColor);
        margin: var(--spacing-heading-6) 0;
    }

    /* Paragraph */
    p {
        color: var(--text-color-paragraph, currentColor);
        white-space: pre-wrap;
        
        min-height: 1lh;
        margin: var(--spacing-paragraph) 0;
    }

    a {
        color: var(--link-color);
        text-decoration: underline;
        cursor: text;
        
        :active {
            cursor: text;
        }
    }
    
    &[data-link-click-active] a {
        cursor: pointer;
        :active {
            cursor: pointer;
        }
    }
}
