.paper {
    background-color: white;
    height: 80%;
    width: min-content;
    aspect-ratio: 210 / 297; /* A4 Aspect Ratio */
    border: 1px solid #e2e8f0;
}

.paper > div {
    box-sizing: border-box;
    padding: var(--paper-padding);
    height: 100%;
    width: 100%;
}