.menu {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    gap: var(--editor-spacing-xs);
    padding: 0 var(--editor-spacing-lg);

    font-family: var(--editor-font-family);
}

.popover-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--editor-spacing-md);
}

.add-link-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}