.paper {
    background-color: var(--editor-bg-surface);
    height: 80%;
    width: min-content;
    aspect-ratio: 210 / 297; /* A4 Aspect Ratio */
    border: 1px solid var(--editor-border-color);
}

.paper > div {
    box-sizing: border-box;
    padding: var(--paper-padding);
    height: 100%;
    width: 100%;
}