#editor {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
}

.doc-editor {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    background-color: var(--editor-bg-app);
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-menu {
    height: var(--editor-menu-height);
    width: 100%;
    background-color: var(--editor-bg-surface);
    border-bottom: 1px solid var(--editor-border-muted);
    box-shadow: var(--editor-shadow-md);
    z-index: 1; /* Ensure shadow is visible over doc-editor */
}