@scope (#editor) {
    :scope {
        color: var(--paragraph-color);
    }
    
    * {
        outline: none;
    }
    
    h1 {
        color: currentColor;
    }

    p {
        color: currentColor;
        white-space: pre-wrap;
        
        min-height: 1lh;
        margin: var(--paragraph-gap) 0;
    }
}
